* {
  margin: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.green-container {
  height: 100vh;
  width: 100vw;
  background-color: #9a7aff;
}
.pruple-container {
  height: 100vh;
  width: 100vw;
  background-color: #33c37e;
}
.container {
  width: 1700px;
  height: 900px;
  border: 1px solid blue;
}
